.Fadein1sec {
    animation: Fadein 1s ease-in-out both;
}

.FadeinOutIn1sec {
    animation: FadeinOutIn1sec 1s ease-in-out both;
}

.SentenceFade {
    opacity: 0;
    display: inline;
    animation: SentenceFadein 1s ease-in-out both;
}

.Fadeout2A {
    animation: Fadeout2 0.5s ease-out both;
}

.addedEnteredNextLine {
    opacity: 1;
    display: inline;
    animation: EnteredNextLine 0.5s ease-in-out forwards;
}

@keyframes KindaFadeInout {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

@keyframes EnteredNextLine {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }

    50% {
        transform: translateY(-20px);
        opacity: 1;
    }

    100% {
        transform: translateY(0px);
        opacity: 0;
    }
}

@keyframes SentenceFadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes FadeinOutIn1sec {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes FadeLoopAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes MainmoveHeadphone1 {
    0% {
        transform: translateY(25px);
    }   

    100% {
        transform: translateY(5px);
        opacity: 1;
    }
}

@keyframes MainIntroPanel {
    0% {
        opacity: 0;
    }   

    100% {
        opacity: 1;
    }
}

@keyframes MainIntroPanel1{
    0% {
        opacity: 0;
        color: white;
    }   

    100% {
        opacity: 1;
        color: red;
    }
}

@keyframes MainTextFlicker2{
    0% {
        opacity: 1;
    }   
    2.5% {
        opacity: 0;
    }   
    4% {
        opacity: 1;
    }   
    6.5% {
        opacity: 0;
    }   
    8% {
        opacity: 1;
    }   
    10% {
        opacity: 0;
    }   
    13% {
        opacity: 1;
    }   
    14% {
        opacity: 0;
    }   
    15% {
        opacity: 1;
    }   

    100% {
        opacity: 1;
    }
}

@keyframes MainTextShake3{
    0% {
        transform: translateX(0px);
    }   
    1% {
        transform: translateX(-30px);
    }   
    10% {
        transform: translateX(30px);
    }   
    13% {
        transform: translateX(-30px);
    }   
    14% {
        transform: translateX(30px);
    }   
    15% {
        transform: translateX(-30px);
    }   
    16% {
        transform: translateX(30px);
    }   
    17% {
        transform: translateX(30px);
    } 
    19% {
        transform: translateX(0);
    }   

    100% {
    }
}

@keyframes coloranimation {
    1% {
        color: white;
    }

    2% {
        color: red;
    }
 
    99% {
        color: red;
    }

    100% {
        color: white;
    }
}

@keyframes scaleup {
    0% {
        scale: 0.5;
    }   

    100% {
        scale: 1;
    }
}

@keyframes scalemoreup {
    0% {
        scale: 1;
    }   

    100% {
        scale: 1.5;
    }
}

@keyframes Fadeout {
    0% {
        opacity: 1;
    }

    99% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        display: none;
    }
}   

@keyframes Fadeout2 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}   

@keyframes Fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes GoingLeftAnimation {
    0% {
        transform: translateX(100px);
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes ShakingAnimation {
    0% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes ScaleDownAnimation {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.5);
    }
}

@keyframes ScaleUPAnimation {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.5);
    }
}

@keyframes ScaleDownAnimation1 {
    0% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
    }
}