/* Main Intro */

/*Selection mode */
.SelectionOptionPanel1A {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 900px;
    height: 400px;
    background-color: none;
    background-image: url('../OtherImages/UIBackgroundInter/MIX-UI-INTERFACE1A.png');
    background-size: 100% 100%;

    z-index: 20;
}

.H1TITOP {
    position: fixed;
    top: 30px;
    left: 50%;
    translate: -50% 0;
    color: white;
    font-family: Arial;
    font-weight: bold;
}

.Option1AWindow {
    background-color: rgb(109, 0, 0);
    position: fixed;
    top: 50%;
    left: 175px;
    translate: 0 -50%;
    width: 200px;
    height: 190px;
    border: none;
    border-radius: 10px;
    transition: all 0.1s ease-out;
}

.Option1AWindowSelOP1 {
    position: fixed;
    top: 13%;
    left: 50%;
    translate: -60% 0;
    width: 100px;
    height: 100px;
}

.H1A1TOPP {
    position: fixed;
    top: 52%;
    left: 50%;
    translate: -50%;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
}

.Option1BWindow {
    background-color: rgb(109, 0, 0);
    position: fixed;
    top: 50%;
    right: 175px;
    translate: 0 -50%;
    width: 200px;
    height: 190px;
    border: none;
    border-radius: 10px;
    transition: all 0.1s ease-out;
}

.Option1AWindow:hover, .Option1BWindow:hover {
    scale: 1.05;
    transition: all 0.1s ease-out;
}

.Option1AWindowSelOP1 {
    position: fixed;
    top: 20%;
    left: 50%;
    translate: -60% 0;
    width: 75px;
    height: 75px;
}

.Option1AWindowSelOP2 {
    position: fixed;
    top: 24%;
    left: 50%;
    translate: -60% 0;
    width: 60px;
    height: 60px;
}

.H1A1TOPP {
    position: fixed;
    top: 55%;
    left: 50%;
    translate: -50%;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
}



.ActivateGame {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    cursor: pointer;
}

.ActivateGameText{
    position: fixed;
    bottom: 3%;
    font-size: 25px;
    color: white;
    font-family: Arial;
    font-weight: bold;
    text-shadow: 0 0 60px red;
    animation: FadeLoopAnimation 1s steps(1) infinite;
}

/* Loading thing interface */

.LoadingScreenDIV {
    display: none;
    position: fixed;
    opacity: 0;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 500px;
    height: 200px;
    background-color: rgb(0, 0, 0);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.HeadphoneSug {
    position: fixed;
    top: 0px;
    left: 50%;
    translate: -50% 0%;
    filter: invert(100%);
    width: 140px;
    height: 140px;
    opacity: 0;
}

.LoadingScreenText {
    position: fixed;
    margin: 0;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    font-size: 150px;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Murderer;
    font-weight: 100;
}

.LoadingScreenText1 {
    position: fixed;
    opacity: 0;
    margin: 0;
    bottom: 30px;
    left: 50%;
    translate: -50% 0%;
    width: 150%;
    font-size: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    font-family: Arial;
    font-weight: 100;
}

.MainDialoguePanel {
    display: none;
    position: fixed;
    margin: 0;
    bottom: 0px;
    left: 45%;
    translate: -43% 20px;
    width: 950px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0);
    background-image: url('../StoryInterface/StoryInterfaceUIs/GameElementNarr1.png');
    background-size: 100% 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scale: 0.8;
}

.DialogueProfileIMG {
    position: absolute;
    left: -120px;
    bottom: 0;
    width: 250px;
    height: 250px;
    margin-right: 20px;
    background-color: rgba(0, 0, 0, 0);
    background-image: url('../OtherImages/CharacterProfile/LyzaProfile.png');
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 55px;
}

.DialogueCharName {
    position: fixed;
    margin: 0;
    left: 17%;
    top: 13%;
    font-size: 40px;
    font-family: StormDust;
    font-weight: 100;
    color: white;
    width: 90%;
    display: inline-block;
    z-index: inherit;
}

.DialogueLines {
    position: fixed;
    margin: 0;
    left: 16%;
    top: 38%;
    font-size: 20px;
    font-family: Arial;
    font-weight: 100;
    color: white;
    background-color: none;
    height: calc(80% - 60px);
    width: calc(90% - 90px);
    display: inline-block;
    text-align: justify;
    clip-path: inset(0 100% 0 0); /* Hides the text initially */
    animation: reveal-animation 1s steps(60) forwards;
}

.DialogueBackground {
    position: absolute;
    top: 40%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 150%;
    border: none;
    border-radius: 1000px;
}

.reveal-animationsss {
    animation: reveal-animation 1s steps(60) forwards;
}


@keyframes jumpinganimation {
    0% { 
        transform: translateY(0); 
        content: url(OtherImages/CharacterProfile/LyzaProfile.png);
    }
    1% { 
        transform: translateY(-20px); 
    }
    2% { 
        transform: translateY(0); 
        content: url(OtherImages/CharacterProfile/RhemaProfile.png);
    }
    100% { 
        transform: translateY(0); 
    }
}

@keyframes reveal-animation {
    to { 
        clip-path: inset(0 0 0 0); 
    } /* Unveils the text from left to right */
}

.MainDialogueCenterPanel {
    display: none;
    position: absolute;
    bottom: 0px;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 95%;
    height: 95%;
    background-color: rgba(0, 0, 0, 0.5);
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    z-index: 50; 
}

.MainDialogueCenteredNar {
    position: fixed;
    opacity: 0;
    margin: 0;
    left: 50%;
    bottom: 40px;
    translate: -50% -0%;
    width: 80%;
    height: 2%;
    color: white;
    font-family: Arial;
    font-size: 23px;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

.MainDialogueCenterText {
    position: fixed;
    display: block;
    opacity: 1;
    margin: 0;
    left: 10;
    top: 5%;
    width: 80%;
    height: 90%;
    background-color: rgba(0, 0, 0, 1);
    line-height: 1.4;
    font-size: 150%;
    text-align: justify;
    font-family: Arial;
    color: white;
}

.OnclickNextWindow {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    background-color: none;
    cursor: pointer;
    z-index: 100;
}
.OnclickDesc1 {
    position: fixed;
    display: block;
    opacity: 1;
    margin: 0;
    bottom: -3%;
    width: 100%;
    height: 60px;
    background-color: none;
    color: white;
    font-family: Arial;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    animation: LoopUpandDownAnim 1s ease-in infinite forwards;
}
