.MainDialoguePanel {
    display: block;
    position: fixed;
    margin: 0;
    bottom: 0px;
    left: 45%;
    translate: -43% 20px;
    width: 950px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0);
    background-image: url('StoryInterface/StoryInterfaceUIs/GameElementNarr1.png');
    background-size: 100% 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scale: 0.8;
}

.DialogueProfileIMG {
    position: absolute;
    left: -120px;
    bottom: 0;
    width: 250px;
    height: 250px;
    margin-right: 20px;
    animation: jumpinganimation 10s  infinite;
    border: none;
    border-radius: 55px;
}

.DialogueCharName {
    position: fixed;
    margin: 0;
    left: 17%;
    top: 13%;
    font-size: 40px;
    font-family: StormDust;
    font-weight: 100;
    color: white;
    width: 90%;
    display: inline-block;
    z-index: inherit;
}

.DialogueLines {
    position: fixed;
    margin: 0;
    left: 16%;
    top: 38%;
    font-size: 20px;
    font-family: Arial;
    font-weight: 100;
    color: white;
    background-color: none;
    height: calc(80% - 60px);
    width: calc(90% - 90px);
    display: inline-block;
    text-align: justify;
    clip-path: inset(0 100% 0 0); /* Hides the text initially */
    animation: reveal-animation 1s steps(60) forwards;
}

.DialogueBackground {
    position: absolute;
    top: 40%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 150%;
    border: none;
    border-radius: 1000px;
}

@keyframes reveal-animation {
    to { 
        clip-path: inset(0 0 0 0); 
    } /* Unveils the text from left to right */
}
