body {
    background-color: black;
}

.SelectionOptionPanel1A {
    position: fixed;
    display: block;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 600px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.5);
}

.H1TITOP {
    position: fixed;
    top: 0;
    left: 50%;
    translate: -50% 0;
    font-family: Arial;
    font-weight: bold;
}

.Option1AWindow {
    background-color: rgb(103, 103, 103);
    position: fixed;
    top: 55%;
    left: 50px;
    translate: 0 -50%;
    width: 200px;
    height: 65%;
    transition: all 0.1s ease-out;
}

.Option1AWindowSelOP1 {
    position: fixed;
    top: 13%;
    left: 50%;
    translate: -60% 0;
    width: 100px;
    height: 100px;
}

.H1A1TOPP {
    position: fixed;
    top: 52%;
    left: 50%;
    translate: -50%;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
}

.Option1BWindow {
    background-color: rgb(103, 103, 103);
    position: fixed;
    top: 55%;
    right: 50px;
    translate: 0 -50%;
    width: 200px;
    height: 65%;
    transition: all 0.1s ease-out;
}

.Option1AWindow:hover, .Option1BWindow:hover {
    scale: 1.05;
    transition: all 0.1s ease-out;
}

.Option1AWindowSelOP1 {
    position: fixed;
    top: 20%;
    left: 50%;
    translate: -60% 0;
    width: 75px;
    height: 75px;
}

.Option1AWindowSelOP2 {
    position: fixed;
    top: 24%;
    left: 50%;
    translate: -60% 0;
    width: 60px;
    height: 60px;
}

.H1A1TOPP {
    position: fixed;
    top: 55%;
    left: 50%;
    translate: -50%;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
}

