body {
    background-color: black;
}

/*Activation Screen */

.ActivateGame {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    cursor: pointer;
}

.ActivateGameText{
    position: fixed;
    bottom: 3%;
    font-size: 25px;
    color: white;
    font-family: Arial;
    font-weight: bold;
    text-shadow: 0 0 60px red;
    animation: FadeLoopAnimation 1s steps(1) infinite;
}

.BackgroundImage {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: none;
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;   
    width: 100%;
    height: 100%;
    z-index: 0;
}

.MainIntroPanel {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    background-color: black;
}

.MainIntro1H {
    position: fixed;
    top: 45%;
    left: 50%;
    translate: -50% -50%;
    font-size: 75px;
    color: white;
    font-family: Saphifen;
    font-weight: 50;
    text-shadow: 0 0 60px red;
    opacity: 0;
}
/* Main Interface Menu Selection */

.MainIntroPanel1 {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
}

/* Main Menu */

.MainContainerMenu {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 95%;
    height: 95%;
    background-color: none;
    z-index: 1;
}

.MainMenuTitle {
    position: absolute;
    margin: 0;
    top: 50%;
    translate: 0 -50%;
    left: 5%;
    width: auto;
    height: auto;
    font-size: 150px;
    font-family: Murderer;
    font-weight: 100;
    color: red;
    background-color: none;
}

.MainMenuButtons {
    position: fixed;
    margin: 0;
    right: -30px;
    top: 50%;
    translate: 0 -50%;
    background-color: rgba(0, 0, 0, 0);
    display: grid;
    width: 450px;
    height: 100%;
    scale: 0.8;
    grid-template-rows: 100px 100px 100px 100px;
    row-gap: 20px;
    grid-template-columns: 400px;
    align-content: center;
    justify-content: center;
}

.MainMenuButton1, .MainMenuButton2, .MainMenuButton3, .MainMenuButton4, .MainMenuButton5, .MainMenuButton6 {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 75px;
    font-family: Saphifen;
    justify-content: center;
    align-content: center;
    text-shadow: 0 0 10px rgb(255, 25, 25, 0);
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    text-align: left;
}

.MainMenuButton1:hover, .MainMenuButton2:hover, .MainMenuButton3:hover, .MainMenuButton4:hover, .MainMenuButton5:hover, .MainMenuButton6:hover {
    text-shadow: 0 0 50px rgb(255, 25, 25, 1);
    scale: 1.1; 
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.175);
    animation: MainTextFlicker 0.1s ease 0s 2 forwards, ShakingAnimation 0.1s steps(1) 0s 2 forwards, coloranimation 0.3s steps(1);
}

/* Animations */

@keyframes FadeLoopAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes MainIntroPanel {
    0% {
        opacity: 0;
    }   

    100% {
        opacity: 1;
    }
}

@keyframes MainIntroPanel1{
    0% {
        opacity: 0;
        color: white;
    }   

    100% {
        opacity: 1;
        color: red;
    }
}

@keyframes MainTextFlicker2{
    0% {
        opacity: 1;
    }   
    2.5% {
        opacity: 0;
    }   
    4% {
        opacity: 1;
    }   
    6.5% {
        opacity: 0;
    }   
    8% {
        opacity: 1;
    }   
    10% {
        opacity: 0;
    }   
    13% {
        opacity: 1;
    }   
    14% {
        opacity: 0;
    }   
    15% {
        opacity: 1;
    }   

    100% {
        opacity: 1;
    }
}

@keyframes MainTextShake3{
    0% {
        transform: translateX(-20px);
    }   
    10% {
        transform: translateX(20px);
    }   
    13% {
        transform: translateX(-20px);
    }   
    14% {
        transform: translateX(20px);
    }   
    15% {
        transform: translateX(-20px);
    }   
    16% {
        transform: translateX(20px);
    }   
    17% {
        transform: translateX(-20px);
    } 
    19% {
        transform: translateX(0);
    }   

    100% {
        opacity: 1;
    }
}

@keyframes coloranimation {
    1% {
        color: white;
    }

    2% {
        color: red;
    }
 
    99% {
        color: red;
    }

    100% {
        color: white;
    }
}

@keyframes scaleup {
    0% {
        scale: 0.5;
    }   

    100% {
        scale: 1;
    }
}

@keyframes scalemoreup {
    0% {
        scale: 1;
    }   

    100% {
        scale: 1.5;
    }
}

@keyframes Fadeout {
    0% {
        opacity: 1;
    }

    99% {
        opacity: 0;
    }

    100% {
        display: none;
    }
}   

@keyframes Fadein {
    0% {
        display: block;
    }
    3% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes GoingLeftAnimation {
    0% {
        transform: translateX(100px);
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes ShakingAnimation {
    0% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes ScaleDownAnimation {
    0% {
        scale: 1.5;
    }

    100% {
        scale: 1;
    }
}