body {
    background-color: black;
}

/*Activation Screen */

.ActivateGame {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    cursor: pointer;
}

.ActivateGameText{
    position: fixed;
    bottom: 3%;
    font-size: 25px;
    color: white;
    font-family: Arial;
    font-weight: bold;
    text-shadow: 0 0 60px red;
    animation: Fadein 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1 forwards, MovUp1 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1 forwards;
}

.ActivateGameText:active {
    animation: ScaleClicked 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}

.BackgroundImage {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: none;
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;   
    width: 100%;
    height: 100%;
    z-index: 2;
    transform: rotate(180deg);
}

.MainIntroPanel {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    background-color: black;
}

.MainIntro1H {
    position: fixed;
    top: 45%;
    left: 50%;
    translate: -50% -50%;
    font-size: 50px;
    color: white;
    font-family: Saphifen;
    font-weight: 50;
    text-shadow: 0 0 60px red;
    opacity: 0;
    scale: 0.7;
}
/* Main Interface Menu Selection */

.MainIntroPanel1 {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
}

/* Main Menu */

.MainContainerMenu {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 95%;
    height: 95%;
    background-color: none;
    scale: 0.9;
    z-index: 3;
}

.MainMenuVideo {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    pointer-events: none;
    width: auto;
    height: 150%;
    object-fit: cover;
    z-index: -1;
}

.MainMenuTitle {
    position: absolute;
    margin: 0;
    top: 50%;
    translate: 0 -50%;
    scale: 0.8;
    right: 1%;
    width: auto;
    height: auto;
    font-size: 170px;
    font-family: Murderer;
    font-weight: 100;
    color: red;
    background-color: none;
    z-index: 10;
}

.MainMenuButtons {
    position: fixed;
    margin: 0;
    left: -100px;
    top: 55%;
    translate: 0 -50%;
    background-color: rgba(0, 0, 0, 0);
    display: grid;
    width: 500px;
    height: 100%;
    scale: 0.65;
    grid-template-rows: 170px 100px 100px 100px 100px;
    row-gap: 20px;
    grid-template-columns: 400px;
    align-content: center;
    justify-content: center;
    z-index: 10;
}

.LoadingText {
    display: none;
    opacity: 0;
    position: fixed;
    bottom: 10px;
    left: 50%;
    width: 90%;
    translate: -50% 0;
    font-family: Arial;
    font-size: 25px;
    text-align: center;
    z-index: 100;
    color: white;
    scale: 0.75;
}

.MainMenuButton1 {
    color: red;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 140px;
    font-family: MeltedMonster;
    justify-content: center;
    align-content: center;
    text-shadow: 0 0 10px rgb(255, 25, 25, 0);
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    text-align: left;
}
.MainMenuButton2, .MainMenuButton3, .MainMenuButton4, .MainMenuButton5, .MainMenuButton6 {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    width: 150%;
    border: none;
    font-size: 75px;
    font-family: MeltedMonster;
    justify-content: center;
    align-content: center;
    text-shadow: 0 0 10px rgb(255, 25, 25, 0);
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    text-align: left;
}

.MainMenuButton1:active, .MainMenuButton2:active, .MainMenuButton3:active, .MainMenuButton4:active, .MainMenuButton5:active, .MainMenuButton6:active {
    color: red;
    scale: 0.5;
    transition: all 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.MainMenuButton1:hover, .MainMenuButton2:hover, .MainMenuButton3:hover, .MainMenuButton4:hover, .MainMenuButton5:hover, .MainMenuButton6:hover {
    text-shadow: 0 0 50px rgb(255, 25, 25, 1);
    scale: 1.1; 
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.175);
    animation: MainTextFlicker 0.1s ease 0s 2 forwards, ShakingAnimation 0.1s steps(1) 0s 2 forwards, coloranimation 0.3s steps(1);
}

/* Notifications */

.MainNotificationMenu {
    position: fixed;
    display: none;
    top: 30px;
    right: 30px;
    width: 375px;
    height: 100px;
    background: url(../OtherImages/Notification-Background.png);
    filter: contrast(130%);
    background-size: 100% 500%; 
    background-position: 100%;
    box-shadow: 0 0 30px rgba(48, 48, 48, 0.432);
    margin: 0;
    z-index: 100;
    cursor: pointer;
}

.MainNotificationText {
    position: absolute;
    top: 2px;
    left: 15px;
    font-family: Arial;
    font-size: 18px;
    color: white;
    z-index: 101;
}

.MainNotificationText1 {
    position: absolute;
    top: 25px;
    left: 15px;
    font-family: Arial;
    font-size: 15px;
    color: white;
    z-index: 101;
}

.LoadingLineAnimationNotification {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: rgb(255, 255, 255);
}

/* Animations */

@keyframes FadeLoopAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes MainIntroPanel {
    0% {
        opacity: 0;
    }   

    100% {
        opacity: 1;
    }
}

@keyframes MainIntroPanel1{
    0% {
        opacity: 0;
        color: white;
    }   

    100% {
        opacity: 1;
        color: red;
    }
}

@keyframes MainTextFlicker2{
    0% {
        opacity: 1;
    }   
    2.5% {
        opacity: 0;
    }   
    4% {
        opacity: 1;
    }   
    6.5% {
        opacity: 0;
    }   
    8% {
        opacity: 1;
    }   
    10% {
        opacity: 0;
    }   
    13% {
        opacity: 1;
    }   
    14% {
        opacity: 0;
    }   
    15% {
        opacity: 1;
    }   

    100% {
        opacity: 1;
    }
}

@keyframes MainTextShake3{
    0% {
        transform: translateX(0px);
    }   
    1% {
        transform: translateX(-30px);
    }   
    10% {
        transform: translateX(30px);
    }   
    13% {
        transform: translateX(-30px);
    }   
    14% {
        transform: translateX(30px);
    }   
    15% {
        transform: translateX(-30px);
    }   
    16% {
        transform: translateX(30px);
    }   
    17% {
        transform: translateX(30px);
    } 
    19% {
        transform: translateX(0);
    }   

    100% {
    }
}

@keyframes coloranimation {
    1% {
        color: white;
    }

    2% {
        color: red;
    }
 
    99% {
        color: red;
    }

    100% {
        color: white;
    }
}

@keyframes scaleup {
    0% {
        scale: 0.5;
    }   

    100% {
        scale: 1;
    }
}

@keyframes scalemoreup {
    0% {
        scale: 1;
    }   

    100% {
        scale: 1.5;
    }
}

@keyframes Fadeout {
    0% {
        opacity: 1;
    }

    99% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        display: none;
    }
}   

@keyframes Fadein {
    0% {
        display: block;
    }
    3% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes GoingLeftAnimation {
    0% {
        transform: translateX(100px);
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes ShakingAnimation {
    0% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes ScaleDownAnimation {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.5);
    }
}

@keyframes ScaleUPAnimation {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.5);
    }
}

@keyframes ScaleDownAnimation1 {
    0% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
    }
}