body {
    background-color: black;
}

.BackgroundImage {
    mask-image: linear-gradient(to left, transparent 0%, transparent 30%, rgb(90, 90, 90) 100%);
    background-size: 100% 100%;
    background-attachment: fixed;
    background-color: rgb(90, 90, 90);
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;   
    width: 100%;
    height: 100%;
    z-index: 0;
}

.MainIntroPanel {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    background-color: black;
}

.MainIntro1H {
    position: fixed;
    top: 45%;
    left: 50%;
    translate: -50% -50%;
    font-size: 75px;
    color: white;
    font-family: Saphifen;
    font-weight: 50;
    text-shadow: 0 0 60px red;
    opacity: 0;
    animation: MainTextFlicker 0.1s ease 1s 4 forwards, MainTextFlicker1 0.1s ease 2.5s 2 forwards;
}

.MainIntroPanel {
    animation: Fadeout 1s ease 4s forwards;
}
/* Main Interface Menu Selection */

.MainIntroPanel1 {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    animation: Fadein 0.5s ease-out 4.5s forwards;
}

.MainMenuTitle {
    position: fixed;
    top: 28%;
    left: 75px;
    translate: 0 -25%;
    color: rgb(255, 0, 0);    
    font-size: 200px;
    font-weight: 2;
    letter-spacing: 3px;
    opacity: 0;
    font-family: Murderer;
    animation: GoingLeftAnimation 0.5s ease-out 5.5s forwards, Fadein 0.5s ease-in-out 5.5s forwards;  
}

.MainMenuButtons {
    position: fixed;
    right: 40px;
    top: 35%;
    translate: 0 -25%;
    background-color: rgba(0, 0, 0, 0);
    display: grid;
    width: 450px;

    grid-template-rows: 100px 100px 100px 100px 100px;
    row-gap: 30px;
    grid-template-columns: 425px;
    align-content: center;
    justify-content: center;
}

.MainMenuButton1, .MainMenuButton2, .MainMenuButton3, .MainMenuButton4, .MainMenuButton5, .MainMenuButton6 {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 75px;
    font-family: Saphifen;
    justify-content: center;
    align-content: center;
    text-shadow: 0 0 10px rgb(255, 25, 25, 0);
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    text-align: left;
}

.MainMenuButton1:hover, .MainMenuButton2:hover, .MainMenuButton3:hover, .MainMenuButton4:hover, .MainMenuButton5:hover, .MainMenuButton6:hover {
    text-shadow: 0 0 50px rgb(255, 25, 25, 1);
    scale: 1.1; 
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.175);
    animation: MainTextFlicker 0.1s ease 0s 2 forwards, ShakingAnimation 0.1s steps(1) 0s 2 forwards, coloranimation 0.3s steps(1);
}

/* Animations */


@keyframes MainTextFlicker {
    0% {
        opacity: 0;
    }   

    100% {
        opacity: 1;
    }
}

@keyframes MainTextFlicker1{
    0% {
        opacity: 0;
    }   

    100% {
        opacity: 1;
    }
}

@keyframes coloranimation {
    1% {
        color: white;
    }

    2% {
        color: red;
    }
 
    99% {
        color: red;
    }

    100% {
        color: white;
    }
}

@keyframes scaleup {
    0% {
        scale: 0.5;
    }   

    100% {
        scale: 1;
    }
}

@keyframes Fadeout {
    0% {
        opacity: 1;
    }

    99% {
        opacity: 0;
    }

    100% {
        display: none;
    }
}   

@keyframes Fadein {
    0% {
        display: block;
    }
    3% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes GoingLeftAnimation {
    0% {
        transform: translateX(100px);
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes ShakingAnimation {
    0% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0px);
    }
}