body {
    background-color: black;
}

/*Activation Screen */

.ActivateGame {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    cursor: pointer;
}

.ActivateGameText{
    position: fixed;
    bottom: 3%;
    font-size: 25px;
    color: white;
    font-family: Arial;
    font-weight: bold;
    text-shadow: 0 0 60px red;
    animation: Fadein 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1 forwards, MovUp1 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1 forwards;
}

.ActivateGameText:active {
    animation: ScaleClicked 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}

.BackgroundImage {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: none;
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;   
    width: 100%;
    height: 100%;
    z-index: 2;
    transform: rotate(180deg);
}

.MainIntroPanel {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    background-color: black;
}

.MainIntro1H {
    position: fixed;
    top: 45%;
    left: 50%;
    translate: -50% -50%;
    font-size: 50px;
    color: white;
    font-family: Saphifen;
    font-weight: 50;
    text-shadow: 0 0 60px red;
    opacity: 0;
    scale: 0.7;
}
/* Main Interface Menu Selection */

.MainIntroPanel1 {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
}

/* Main Menu */

.MainContainerMenu {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 95%;
    height: 95%;
    background-color: none;
    scale: 0.9;
    z-index: 3;
}

.MainMenuVideo {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    pointer-events: none;
    width: auto;
    height: 150%;
    object-fit: cover;
    z-index: -1;
}

.MainMenuTitle {
    position: absolute;
    margin: 0;
    top: 50%;
    translate: 0 -50%;
    scale: 0.8;
    right: 1%;
    width: auto;
    height: auto;
    font-size: 170px;
    font-family: Murderer;
    font-weight: 100;
    color: red;
    background-color: none;
    z-index: 10;
}

.MainMenuButtons {
    position: fixed;
    margin: 0;
    left: -100px;
    top: 55%;
    translate: 0 -50%;
    background-color: rgba(0, 0, 0, 0);
    display: grid;
    width: 500px;
    height: 100%;
    scale: 0.65;
    grid-template-rows: 170px 100px 100px 100px 100px;
    row-gap: 20px;
    grid-template-columns: 400px;
    align-content: center;
    justify-content: center;
    z-index: 10;
}

.LoadingText {
    display: none;
    opacity: 0;
    position: fixed;
    bottom: 10px;
    left: 50%;
    width: 90%;
    translate: -50% 0;
    font-family: Arial;
    font-size: 25px;
    text-align: center;
    z-index: 100;
    color: white;
    scale: 0.75;
}

.MainMenuButton1 {
    color: red;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 140px;
    font-family: MeltedMonster;
    justify-content: center;
    align-content: center;
    text-shadow: 0 0 10px rgb(255, 25, 25, 0);
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    text-align: left;
}
.MainMenuButton2, .MainMenuButton3, .MainMenuButton4, .MainMenuButton5, .MainMenuButton6 {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    width: 150%;
    border: none;
    font-size: 75px;
    font-family: MeltedMonster;
    justify-content: center;
    align-content: center;
    text-shadow: 0 0 10px rgb(255, 25, 25, 0);
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    text-align: left;
}

.MainMenuButton1:active, .MainMenuButton2:active, .MainMenuButton3:active, .MainMenuButton4:active, .MainMenuButton5:active, .MainMenuButton6:active {
    color: red;
    scale: 0.5;
    transition: all 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.MainMenuButton1:hover, .MainMenuButton2:hover, .MainMenuButton3:hover, .MainMenuButton4:hover, .MainMenuButton5:hover, .MainMenuButton6:hover {
    text-shadow: 0 0 50px rgb(255, 25, 25, 1);
    scale: 1.1; 
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.175);
    animation: MainTextFlicker 0.1s ease 0s 2 forwards, ShakingAnimation 0.1s steps(1) 0s 2 forwards, coloranimation 0.3s steps(1);
}

/* Notifications */

.MainNotificationMenu {
    position: fixed;
    display: none;
    top: 30px;
    right: 30px;
    width: 375px;
    height: 100px;
    background: url(../OtherImages/Notification-Background.png);
    filter: contrast(130%);
    background-size: 100% 500%; 
    background-position: 100%;
    box-shadow: 0 0 30px rgba(48, 48, 48, 0.432);
    margin: 0;
    z-index: 100;
    cursor: pointer;
}

.MainNotificationText {
    position: absolute;
    top: 2px;
    left: 15px;
    font-family: Arial;
    font-size: 18px;
    color: white;
    z-index: 101;
}

.MainNotificationText1 {
    position: absolute;
    top: 25px;
    left: 15px;
    font-family: Arial;
    font-size: 15px;
    color: white;
    z-index: 101;
}

.LoadingLineAnimationNotification {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: rgb(255, 255, 255);
}

/* MainInterface of PlayPromptPanel decisions */

.PlayPromptPanelA {
    position: fixed;
    display: none;
    opacity: 0;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 205;
}

.MainWindowPanelPlayPromptA {
    position: fixed;
    display: block;
    opacity: 1;
    width: 650px;
    height: 275px;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    background: rgba(0, 0, 0, 0.3);
}

.MainNoticeTextPlayPrompt {
    position: absolute;
    display: block;
    opacity: 0;
    width: 95%;
    height: 50px;
    top: 30px;
    left: 50%;
    translate: -50%;
    font-family: Arial;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    animation: MainNoticeGameplayTextAnims 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}

.PlayPromptA {
    position: absolute;
    display: block;
    opacity: 0;
    width: 100%;
    height: 50px;
    bottom: 80px;
    font-family: Arial;
    font-weight: bolder;
    font-size: 25px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    animation: MainNoticeAnimsButtons 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.1s both;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.PlayPromptB {
    position: absolute;
    display: block;
    opacity: 0;
    width: 100%;
    height: 50px;
    bottom: 20px;
    font-family: Arial;
    font-weight: bolder;
    font-size: 25px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    animation: MainNoticeAnimsButtons 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.2s both;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.PlayPromptA:hover, .PlayPromptB:hover{
    color: red;
    font-family: TheyPerished;
    scale: 1.2;
}

/* MainInterfaceB of PlayPromptPanel decisions */

.PlayPromptPanelB {
    position: fixed;
    display: none;
    opacity: 0;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 210;
}

.MainWindowPanelPlayPromptB {
    position: fixed;
    display: block;
    opacity: 1;
    width: 650px;
    height: 275px;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    background: rgba(0, 0, 0, 0.3);
}

.MainNoticeTextPlayPromptB {
    position: absolute;
    display: block;
    opacity: 0;
    width: 95%;
    height: 50px;
    top: 30px;
    left: 50%;
    translate: -50%;
    font-family: Arial;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    animation: MainNoticeGameplayTextAnims 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}

.PlayPromptA1 {
    position: absolute;
    display: block;
    opacity: 0;
    width: 100%;
    height: 50px;
    bottom: 80px;
    font-family: Arial;
    font-weight: bolder;
    font-size: 25px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    animation: MainNoticeAnimsButtons 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.1s both;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.PlayPromptB1 {
    position: absolute;
    display: block;
    opacity: 0;
    width: 100%;
    height: 50px;
    bottom: 20px;
    font-family: Arial;
    font-weight: bolder;
    font-size: 25px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    animation: MainNoticeAnimsButtons 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.2s both;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.PlayPromptA1:hover, .PlayPromptB1:hover{
    color: red;
    font-family: TheyPerished;
    scale: 1.2;
}

/*Achievements UI layout Design */

.Achievements-UI-Design-Main {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 210;
}

.Achievements-UI-Design-Sub {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 550px;
    height: 400px;
    background: url('../OtherImages/UIBackgroundInter/ACHIEVEMENTS-UI.png');
    background-size: 100% 100%;
    z-index: 210;
    box-shadow:  0 10px 30px rgb(0, 0, 0);
    overflow-y: scroll;
    overflow-x: hidden;
    scale: 1.1;
    opacity: 0;
}

.AchievementH1Name {
    position: sticky;
    top: 2px;
    left: 0;
    width: 100%;
    text-align: center;
    font-family: TheyPerished;
    font-size: 45px;
    color: white;
    font-weight: lighter;
    z-index: 215;
}

.AchievementNum1Dis1, .AchievementNum1Dis2, .AchievementNum1Dis3, .AchievementNum1Dis4, .AchievementNum1Dis5, .AchievementNum1Dis6{
    position: absolute;
    left: 10%;
    background-color: rgb(0, 0, 0, 0.8);
    width: 80%;
    height: 100px;
}

.AchievementNum1Dis1 {
    top: 80px;
}

.AchievementNum1Dis2 {
    top: 190px;
}

.AchievementNum1Dis3 {
    top: 300px;
}

.AchievementNum1Dis4 {
    top: 410px;
}

.AchievementNum1Dis5 {
    top: 520px;
}

.AchievementNum1Dis6 {
    top: 630px;
    margin-bottom: 100px;
}


.Chapter1FinishedText, .Chapter2FinishedText, .Chapter3FinishedText, .Chapter4FinishedText, .Chapter5FinishedText, .FinishGameText {
    position: absolute;
    left: 20px;
    width: 95%;
    font-family: Arial;
    font-size: 20px;
    color: white;
}

.Chapter1FinishedP, .Chapter2FinishedP, .Chapter3FinishedP, .Chapter4FinishedP, .Chapter5FinishedP, .FinishGameP {
    position: absolute;
    top: 29px;
    left: 20px;
    width: 95%;
    font-family: Arial;
    font-weight: lighter;
    font-size: 13px;
    color: rgb(255, 255, 255);
}

.PercentageofFinishedChap1, .PercentageofFinishedChap2, .PercentageofFinishedChap3, .PercentageofFinishedChap4, .PercentageofFinishedChap5, .PercentageofFinishedGame {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: rgb(13, 255, 0);
    
}

.Close-Achievements {
    position: fixed;
    display: block;
    bottom: 20px;
    left: 50%;
    translate: -50% 0%;
    height: 50px;
    width: 35%;
    background-color: rgba(0, 0, 0, 0.8);
    font-family: Arial;
    font-size: 23px;
    color: white;
    border-top: 1px solid rgba(48, 48, 48, 0.432);
    border-bottom: 1px solid rgba(48, 48, 48, 0.432);
    border-left: none;
    border-right: none;
    backdrop-filter: blur(10px);
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: 215;
}

.Close-Achievements:hover {
    scale: 1.1;
    width: 40%;
    border-top: 2px solid rgba(171, 171, 171, 0.8);
    border-bottom: 2px solid rgba(171, 171, 171, 0.8);
}

.Close-Achievements:active {
    scale: 1;
    width: 30%;
    border-top: 1px solid rgba(171, 171, 171, 0.8);
    border-bottom: 1px solid rgba(171, 171, 171, 0.8);
}



/* Animations */

@keyframes FadeLoopAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes MainIntroPanel {
    0% {
        opacity: 0;
    }   

    100% {
        opacity: 1;
    }
}

@keyframes MainIntroPanel1{
    0% {
        opacity: 0;
        color: white;
    }   

    100% {
        opacity: 1;
        color: red;
    }
}

@keyframes MainTextFlicker2{
    0% {
        opacity: 1;
    }   
    2.5% {
        opacity: 0;
    }   
    4% {
        opacity: 1;
    }   
    6.5% {
        opacity: 0;
    }   
    8% {
        opacity: 1;
    }   
    10% {
        opacity: 0;
    }   
    13% {
        opacity: 1;
    }   
    14% {
        opacity: 0;
    }   
    15% {
        opacity: 1;
    }   

    100% {
        opacity: 1;
    }
}

@keyframes MainTextShake3{
    0% {
        transform: translateX(0px);
    }   
    1% {
        transform: translateX(-30px);
    }   
    10% {
        transform: translateX(30px);
    }   
    13% {
        transform: translateX(-30px);
    }   
    14% {
        transform: translateX(30px);
    }   
    15% {
        transform: translateX(-30px);
    }   
    16% {
        transform: translateX(30px);
    }   
    17% {
        transform: translateX(30px);
    } 
    19% {
        transform: translateX(0);
    }   

    100% {
    }
}

@keyframes coloranimation {
    1% {
        color: white;
    }

    2% {
        color: red;
    }
 
    99% {
        color: red;
    }

    100% {
        color: white;
    }
}

@keyframes scaleup {
    0% {
        scale: 0.5;
    }   

    100% {
        scale: 1;
    }
}

@keyframes scalemoreup {
    0% {
        scale: 1;
    }   

    100% {
        scale: 1.5;
    }
}

@keyframes Fadeout {
    0% {
        opacity: 1;
    }

    99% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        display: none;
    }
}   

@keyframes Fadein {
    0% {
        display: block;
    }
    3% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes GoingLeftAnimation {
    0% {
        transform: translateX(100px);
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes ShakingAnimation {
    0% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes ScaleDownAnimation {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.5);
    }
}

@keyframes ScaleUPAnimation {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.5);
    }
}

@keyframes ScaleDownAnimation1 {
    0% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
    }
}