@media (max-height: 600px) {
    .MainMenuButtons {
        grid-template-rows: 140px 100px 100px 100px;
    }

    .MainMenuButton2, .MainMenuButton3, .MainMenuButton4, .MainMenuButton5 {
        font-size: clamp(5rem, 2vw, 5rem);
    }

    .MainMenuButton1 {
        font-size: clamp(8rem, 2vw, 5rem);
    }

    .MainDialoguePanel {
        scale: 0.7;
        bottom: -15px;
    }
}

@media (max-height: 400px) {
    .MainMenuButtons {
        grid-template-rows: 140px 100px 100px 100px;
        scale: 0.6;
    }

    .MainMenuButton2, .MainMenuButton3, .MainMenuButton4, .MainMenuButton5 {
        font-size: clamp(1rem, 2vw, 5rem);
    }

    .MainMenuButton1 {
        font-size: clamp(8rem, 2vw, 5rem);
    }

    .MainDialoguePanel {
        scale: 0.7;
        bottom: -15px;
    }
}