@media (max-height: 500px) {
    .LoadGameContainer {
        grid-template-rows: 45px 45px 45px 45px 45px;
        top: 70%;
    }

    .MainMenuButton2, .MainMenuButton3, .MainMenuButton4, .MainMenuButton5, .MainMenuButton6 {
        font-size: 80px;
    }

    .MainMenuButtons {
        scale: 0.6;
    }
    .LoadGameButton1, .LoadGameButton2, .LoadGameButton3, .LoadGameButton4, .LoadGameButton5 {
        font-size: 50px;
    }

}