@font-face {
    font-family: StormDust;
    src: url(Storm-Gust.otf);   
}

@font-face {
    font-family: Saphifen;
    src: url(Saphifen.ttf);   
}

@font-face {
    font-family: Murderer;
    src: url(MurdererFont.ttf);   
}