body {
    background-color: rgb(10, 10, 10);
}

.MainSettingInterface {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 80%;
    height: 75%;
    background-color: rgba(255, 255, 255, 0.1);
}

.MainSettingTitle {
    position: fixed;
    top: -125px;
    left: 50%;
    translate: -50% 0%;
    font-size: 125px;
    color: rgb(255, 255, 255);
    font-family: Murderer;
    font-weight: 500;
    z-index: 1;
}

.highlightTitle {
    position: fixed;
    margin: 0;
    top: -140px;
    left: 50%;
    translate: -50% 0%;
    width: 650px;
    height: 300px;
}
