body {
    background-color: rgb(37, 37, 37);
}

.MainSettingInterface {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.8);
}
